
<!-- <h1 mat-header3> Hey</h1>

<button mat-raised-button color="primary">Click Me</button>

<div>
  <mat-button-toggle #toggleButton>Toggle Me </mat-button-toggle>
  {{toggleButton.checked}}

</div>
 -->
<!-- Single Value can be fetched like check box  -->
<!-- <div>
  <mat-button-toggle-group #toggleGroup="matButtonToggleGroup">
    <mat-button-toggle value="angular">Angular</mat-button-toggle>
    <mat-button-toggle value="reactive">Reactive</mat-button-toggle>
    <mat-button-toggle value="vue">Vue</mat-button-toggle>
  </mat-button-toggle-group>
  {{toggleGroup.value}}
</div> -->


<!-- Multiple Values can be fetched using "multiple" attribute -->
<!-- <div>
  <mat-button-toggle-group #toggleGroup="matButtonToggleGroup" multiple>
    <mat-button-toggle value="angular">Angular</mat-button-toggle>
    <mat-button-toggle value="reactive">Reactive</mat-button-toggle>
    <mat-button-toggle value="vue">Vue</mat-button-toggle>
  </mat-button-toggle-group>
  {{toggleGroup.value}}
</div> -->
<!-- /*****************/ -->


<!-- Angular Material Tutorial - 7 - Icons -->

<div>
  <mat-icon color="primary">important_devices</mat-icon>
</div>

<!-- Angular Material Tutorial - 8 - Badges -->




