
<div>
 <span matBadge="5" matBadgePosition="below before">Notifications </span>
</div>
<div>
 <span matBadge="5" matBadgePosition="below after">Notifications </span>
</div>
<div>
 <span matBadge="5" matBadgePosition="above before">Notifications </span>
</div>
<div>
 <span matBadge="5">Notifications </span>
</div>

<!-- We can change the badge size using matBadgeSize attribute -->

<div>
 <span matBadge="5" matBadgeSize="small">Notifications </span>
</div>
<div>
 <span matBadge="5" matBadgeSize="medium">Notifications </span>
</div>
<div>
 <span matBadge="5" matBadgeSize="large">Notifications </span>
</div>

<!-- We can change the color of the badge using matBadgeColor attribute -->
<div>
 <span matBadge="5" matBadgeColor="primary">Notifications </span>
</div>
<div>
 <span matBadge="5" matBadgeColor="accent">Notifications </span>
</div>

<!-- Badge is getting overlappped onto the content, it can be changed using the matBadgeOverlap="false" -->
<div>
 <span matBadge="5" matBadgeColor="warn" matBadgeOverlap="false">Notifications </span>
</div>


<!-- We can bind the badge values to the property in the class of app.component.ts
In this example, we are binding notifications property in the class to matBadge in html template -->


<div>
 <span [matBadge]="notifications" matBadgePosition="above after">Notifications </span>
</div>


<!-- Conditions rendering can also be done using [matBadgeHidden] = "notifications === 2" -->

<div>
 <span [matBadge]="notifications" [matBadgeHidden] = "notifications === 0">Notifications </span>
</div>




<!-- <h1 mat-header3> Hey</h1>

<button mat-raised-button color="primary">Click Me</button>

<div>
  <mat-button-toggle #toggleButton>Toggle Me </mat-button-toggle>
  {{toggleButton.checked}}

</div>
 -->
<!-- Single Value can be fetched like check box  -->
<!-- <div>
  <mat-button-toggle-group #toggleGroup="matButtonToggleGroup">
    <mat-button-toggle value="angular">Angular</mat-button-toggle>
    <mat-button-toggle value="reactive">Reactive</mat-button-toggle>
    <mat-button-toggle value="vue">Vue</mat-button-toggle>
  </mat-button-toggle-group>
  {{toggleGroup.value}}
</div> -->


<!-- Multiple Values can be fetched using "multiple" attribute -->
<!-- <div>
  <mat-button-toggle-group #toggleGroup="matButtonToggleGroup" multiple>
    <mat-button-toggle value="angular">Angular</mat-button-toggle>
    <mat-button-toggle value="reactive">Reactive</mat-button-toggle>
    <mat-button-toggle value="vue">Vue</mat-button-toggle>
  </mat-button-toggle-group>
  {{toggleGroup.value}}
</div> -->
<!-- /*****************/ -->


<!-- Angular Material Tutorial - 7 - Icons -->

<div>
  <mat-icon color="primary">important_devices</mat-icon>
</div>

<!-- Angular Material Tutorial - 8 - Badges -->




